<div class="home-services bg-dark py-5">
    <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <!-- <div class="card-header"></div> -->
              <div class="card-body">
                  <h2>Keep In Touch</h2>

                  <div class="address">
                    <h3>Alamat</h3>
                    <p>lorem ipsum dolor sit amet</p>
                    <p>Kota Depok - 99999</p>
                  </div>

                  <div class="phone">
                    <h3>Telepon</h3>
                    <p>+621 9999 9999</p>
                  </div>
              </div>
              <!-- <div class="card-footer"></div> -->
            </div>
          </div>
        </div>
    </div>
</div>
