<div class="home-greetings py-5">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Hello there</h1>
                <p>This is greeting section, you can edit in src/partials/home/greetings</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope-open-text"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope-open-text"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope-open-text"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>