<div id="carouselExampleControls" class="carousel slide hero-slider" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image: url('${require(`./images/slide-1.jpg`)}')">
          <!-- <img class="d-block w-100 h-50" src="./images/slide-1.jpg" alt=""> -->
          <div class="carousel-caption d-none d-md-block">
              <h1 class="display-4">Hello world</h1>
              <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
              <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
              <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
              </p>
          </div>
      </div>
      <div class="carousel-item" style="background-image: url( '${require(`./images/slide-2.jpg`)}')">
          <!-- <img class="d-block w-100 h-50" src="./images/slide-2.jpg" alt=""> -->
          <div class="carousel-caption d-none d-md-block">
              <h1 class="display-4">Hello world</h1>
              <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
              <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
              <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
              </p>
          </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>