<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>

    <%- include ./partials/header.html -%>

    <%- include ./partials/home/hero.html -%>

    <%- include ./partials/home/greetings.html -%>

    <%- include ./partials/home/services.html -%>

    <%- include ./partials/home/projects.html -%>

    <%- include ./partials/home/testimonials.html -%>
    
    <%- include ./partials/home/clients.html -%>

    <%- include ./partials/home/contacts.html -%>

    <%- include ./partials/footer.html -%>

    <script src="./js/main.js"></script>
</body>
</html>